<body>
  <h2>Students Page</h2>
  <section>
    <div class="table-card-students">
      <div class="table-header">
        <p class="name">Name</p>
        <p class="classes">Enrolled classes</p>
        <p class="actions">Action</p>
      </div>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let student of students"
          ><div class="list-item">
            <p class="name">{{ student.name }} {{ student.lastName }}</p>
            <p class="classes"></p>
            <div class="actions">
              <mat-icon
                aria-hidden="false"
                aria-label="edit student"
                fontIcon="edit"
              ></mat-icon>
              <mat-icon
                aria-hidden="false"
                aria-label="delete student"
                fontIcon="delete"
              ></mat-icon>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </section>
</body>
