<body>
  <section class="input-section">
    <h2>Classes Page</h2>
    <div class="input-space">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        class="input-area"
        placeholder="Search by title and description"
      />
      <mat-icon
        class="search-icon"
        aria-hidden="false"
        aria-label="edit student"
        fontIcon="search"
      ></mat-icon>
    </div>
  </section>
  <section>
    <div class="table-card-students">
      <div class="table-header">
        <p class="title">Name</p>
        <p class="description">Description</p>
        <p class="classes">Number of Students</p>
        <p class="actions">Action</p>
      </div>
      <mat-list role="list">
        <mat-list-item>
          <div class="add-button" (click)="addHandler()">+</div>
        </mat-list-item>
        <mat-list-item
          role="listitem"
          *ngFor="let class of classes | classFilter : searchTerm"
          ><div class="list-item">
            <p class="title">{{ class.title }}</p>
            <p class="description">{{ class.description }}</p>
            <p class="students">
              {{ class.students.length }}
            </p>
            <div class="actions">
              <mat-icon
                class="edit-icon"
                aria-hidden="false"
                aria-label="edit student"
                fontIcon="visibility"
                (click)="showClassesHandler(class)"
              ></mat-icon>
              <mat-icon
                class="edit-icon"
                aria-hidden="false"
                aria-label="edit student"
                fontIcon="edit"
                (click)="updateHandler(class)"
              ></mat-icon>
              <mat-icon
                class="delete-icon"
                aria-hidden="false"
                aria-label="delete student"
                fontIcon="delete"
                (click)="deleteHandler(class)"
              ></mat-icon>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </section>
</body>
