<h1>Enrolled students</h1>
<section class="listing">
  <mat-list role="list">
    <div class="table-header">
      <p class="name">Name</p>
      <p class="lastName">Last Name</p>
    </div>
    <mat-list-item *ngFor="let student of students">
      <div class="list-item">
        <p class="name">{{ student.name }}</p>
        <p class="lastName">{{ student.lastName }}</p>
      </div>
    </mat-list-item>
  </mat-list>
</section>

<section class="buttons">
  <button class="cancel" (click)="onClose()">Close</button>
</section>
